@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Ubuntu&display=swap')

$appBackground: rgb(30, 30, 30)
$btnColor: rgb(0, 122, 204)
$btnHoverColor: rgb(0, 100, 204)

body
  margin: 0
  padding: 0
  background: $appBackground

h1, h2, h3, div, span
  user-select: none
  font-family: Ubuntu, sans-serif

p
  font-family: Ubuntu, sans-serif

.flex-center
  display: flex
  align-items: center
  justify-content: center

.h-w-100
  height: 100%
  width: 100%
